.vector-icon {
  position: absolute;
  top: -120px;
  left: 831px;
  width: 406.7px;
  height: 402.8px;
  object-fit: contain;
  display: none;
}
.student-portal,
.welcome-to {
  margin: 0;
}
.welcome-to-student-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 70px;
  font-family: inherit;
}
.login-to-access {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.welcome-to-student-portal-parent {
  position: absolute;
  top: 155px;
  left: 730px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  z-index: 3;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  top: -106px;
  left: 1500px;
  width: 200px;
  height: 448px;
}
.vector-icon2 {
  top: 251px;
  left: 521px;
  width: 1567.3px;
  height: 1418px;
  object-fit: contain;
  z-index: 1;
}
.vector-icon3 {
  position: absolute;
  top: 245px;
  left: 459px;
  width: 421.2px;
  height: 389px;
  z-index: 2;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  top: 175px;
  left: 1263px;
  width: 217px;
  height: 200.4px;
  z-index: 2;
}
.vector-icon5 {
  top: 656px;
  left: 620px;
  width: 278.9px;
  height: 285.6px;
  object-fit: contain;
}
.login1 {
  margin: 0;
  position: absolute;
  top: 315.5px;
  left: 128px;
  font-size: 48px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-goldenrod-100);
  z-index: 4;
}
.enter-your-account {
  top: 420px;
  font-weight: 500;
  color: rgba(255, 196, 54, 0.7);
}
.enter-your-account,
.frame-child,
.email {
  position: absolute;
  left: 128px;
  z-index: 4;
  margin-bottom: 20px;
  color: rgba(255, 196, 54, 0.7);
}
.email {
  top: 471.5px;
  display: inline-block;
  min-width: 83px;
  color: rgba(255, 196, 54, 0.7);
}
.frame-child {
  top: 507.5px;

  box-sizing: border-box;
  width: 382px;
  height: 1px;
}
.eyeslashfill-icon,
.password {
  position: absolute;
  top: 531.5px;
  z-index: 4;
  margin-bottom: 50px;
  color: rgba(255, 196, 54, 0.7);
}
.password {
  left: 128px;
  display: inline-block;
  min-width: 77px;
  margin-top: 20px;
  color: rgba(255, 196, 54, 0.7);
}
.eyeslashfill-icon {
  left: 485px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.forgot-password,
.frame-item {
  position: absolute;
  left: 128px;
  z-index: 4;
}
.frame-item {
  top: 567.5px;

  box-sizing: border-box;
  width: 382px;
  height: 1px;
}
.forgot-password {
  top: 591.5px;
  margin-top: 50px;
}
.login2 {
  width: 83px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-goldenrod-100);
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  cursor: pointer;
}
.dont-have-an,
.login-wrapper {
  position: absolute;
  left: 128px;
  z-index: 4;
}
.login-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0;
  background-color: var(--color-steelblue);
  top: 700px;
  border-radius: 12px;
  width: 393px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.login-wrapper:hover,
.sign-up-wrapper:hover {
  background-color: var(--color-cornflowerblue);
}
.dont-have-an {
  top: 924px;
  color: rgba(255, 255, 255, 0.5);
}
.sign-up {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 60px;
  cursor: pointer;
}
.sign-up-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--color-steelblue);
  position: absolute;
  top: 912px;
  left: 386px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 4;
}
.image-icon,
.login-parent {
  position: absolute;
  z-index: 3;
}
.login-parent {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl) 0 0 var(--br-5xl);
  background-color: #0c356a;
  width: 630px;
  overflow: hidden;
}
.image-icon {
  top: 372px;
  left: 684px;
  width: 837.3px;
  height: 628px;
  object-fit: contain;
}
.login,
.vector-parent {
  width: 100%;
  text-align: left;
  font-family: var(--font-poppins);
}
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: var(--font-size-base);
  color: var(--color-goldenrod-300);
}
.login {
  height: 1024px;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-steelblue);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  font-size: 80px;
  color: var(--color-goldenrod-100);
}
.login-input {
  /* width: 100%;  Full width to fit the container */
  /*padding: 10px; /* Adequate padding for text */
  margin-top: 5px; /* Spacing from label */
  margin-bottom: 20px; /* Spacing before next element */
  border: none; /* No borders */
  border-bottom: 1px solid var(--color-goldenrod-200); /* Underline effect */
  background: transparent; /* Transparent background */
  color: rgba(255, 196, 54, 0.7); /* Text color */
  font-size: 16px; /* Font size */
  width: 382px;
  padding-right: 30px;
}

/* Style adjustments for focus on input fields */
.login-input:focus {
  outline: none; /* Removes default focus outline */

}

.eye-icon {
  position: absolute;
  right: 10px; // Adjust based on padding of the input
  top: 50%; // Centers the icon vertically
  transform: translateY(-50%); // Ensures it is perfectly centered
  color: white; // Adjust color based on your theme
  font-size: 1.5rem; // Size of the icon
}


@media screen and (max-width: 750px) {
  .welcome-to-student-container {
    font-size: 40px;
    line-height: 42px;
  }
  .login1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-student-container {
    font-size: 24px;
    line-height: 28px;
  }
  .login1 {
    font-size: 29px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1050;
}

.modalContent {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  width: 90%; /* Responsive width, up to a max */
  max-width: 400px; /* Maximum width of the modal */
  text-align: center;
  position: relative;
  animation: scaleUp 0.3s ease-out forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modalContent.show {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #777;
}

.close:hover {
  color: #000;
  cursor: pointer;
}

/* Specific style for error messages */
.errorMessage {
  color: #d9534f; /* Bootstrap 'danger' color */
  font-size: 14px;
  text-align: left;
  padding: 5px;

}
.homeButton {
  position: absolute;
  top: 20px;
  left: 19px;
  width: 65px;
  height: 85px;
  object-fit: cover;
}