html, body {
  height: 100%;
  text-align: center;
}

.saveProfile {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--white-white-500);
  text-align: center;
}
.saveProfileWrapper {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-13xl);
  background-color: var(--color-darkslateblue);
  position: absolute;
  top: 624px;
  /* left: 675px; */
  right: 10%;
  border-radius: var(--br-3xs);
  width: 655px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.rectangleParentchild{
  background-color: var(--color-darkslateblue) !important;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--white-white-500) !important;
  text-align: center;
  border: none;
  outline: none;
  border-radius: var(--br-3xs);
  width: 655px;
  height: 55px;
}
input::placeholder {
  color: var(--white-white-500)  /* Light grey placeholder text */
}
.rectangleParent,
.profilePageChild,
.profilePageInner,
.profilePageItem {
  background-color: var(--color-darkslateblue) !important;
  /* width: 655px; */
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 192px; */
  top: 155px;
  /* left: 675px; */
  right: 10%;
  border-radius: var(--br-3xs);
  width: 655px;
  height: 55px;
  
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--white-white-500);
  text-align: center !important;
}
.profilePageChild {
  top: 263px;
}
/* .profilePageInner, */
.profilePageItem {
  /* top: 408px; */
  top: 372px;
}
.profilePageInner {
  /* top: 300px; */
  top: 480px;
  height: 100px;
}
.profile {
  position: absolute;
  top: 83px;
  right: 25%
  /* left: 936px; */
}
.image133Icon {
  position: absolute;
  top: 10%;
  bottom: 10%;
  /* left: calc(50% - 666px); */
  /* width: 540px; */
  width: calc(50% - 250px);
  height: 600px;
  object-fit: cover;
  left: 10%;
}
.profilePage {
  width: 100%;
  position: relative;
  background-color: #ffde99;
  height: 810px;
  overflow: hidden;
  text-align: center;
  font-size: 48px;
  /* color: var(--color-darkslateblue); */
  font-family: var(--font-poppins);
}

.profilePage select {
  text-align: center !important;
  text-align-last: center !important;
}
.homeButton {
  position: absolute;
  top: 20px;
  left: 19px;
  width: 65px;
  height: 85px;
  object-fit: cover;
}