.bg,
.featured1 {
  position: absolute;
}
.featured1 {
  top: 67.1px;
  left: 498px;
  letter-spacing: -0.02em;
  line-height: 90px;
  font-weight: 600;
  display: inline-block;
  width: 444px;
  height: 80.5px;
}
.bg {
  top: 0;
  left: 0;
  box-shadow: 0 45px 100px -10px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 363px;
  height: 371.1px;
}
.registeringForClasses {
  position: absolute;
  top: 265.6px;
  left: 45px;
  line-height: 26px;
  display: inline-block;
  width: 306px;
  height: 139.5px;
}
.seamlessRegistration {
  margin: 0;
}
.seamlessRegistrationExperienContainer {
  position: absolute;
  top: 190.4px;
  left: 45px;
  font-size: var(--font-size-5xl);
  line-height: 132.5%;
  display: inline-block;
  color: var(--color-darkslategray-100);
  width: 282px;
  height: 57.2px;
}
.development,
.developmentChild {
  position: absolute;
  top: 40.2px;
  left: 45px;
  width: 88px;
  height: 78.7px;
}
.development {
  top: 0;
  left: 806px;
  width: 363px;
  height: 405px;
}
.joinTheChorus,
.yourVoiceMattersContainer {
  position: absolute;
  top: 265.6px;
  left: 29px;
  line-height: 26px;
  display: inline-block;
  width: 306px;
  height: 139.5px;
}
.yourVoiceMattersContainer {
  top: 190.4px;
  left: 45px;
  font-size: var(--font-size-5xl);
  line-height: 132.5%;
  color: var(--color-darkslategray-100);
  width: 246px;
  height: 57.2px;
}
.uiuxDesign {
  position: absolute;
  top: 0;
  left: 403px;
  width: 363px;
  height: 405px;
}
.navigatePrerequisitesWithContainer,
.oneOfThe {
  position: absolute;
  top: 265.6px;
  left: 45px;
  line-height: 26px;
  display: inline-block;
  width: 318px;
  height: 139.5px;
}
.navigatePrerequisitesWithContainer {
  top: 190.4px;
  font-size: var(--font-size-5xl);
  line-height: 132.5%;
  color: var(--color-darkslategray-100);
  width: 287px;
  height: 57.2px;
}
.frame,
.graphicDesign {
  position: absolute;
  top: 0;
  left: 0;
  width: 363px;
  height: 405px;
}
.frame {
  top: 254.8px;
  left: 136px;
  width: 1169px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.featured {
  top: 0;
  background-color: var(--color-white);
  height: 760px;
}
.bg3,
.bg4,
.featured,
.frame1,
.frameIcon {
  position: absolute;
  left: 0;
  width: 100%;
  align-items: center;
}
.bg3 {
  top: 10px;
  background-color: var(--color-white);
  height: 450px;
}
.bg4,
.frame1,
.frameIcon {
  top: 0;
}
.bg4 {
  background-color: var(--color-darkslateblue);
  height: 435px;
}
.frame1,
.frameIcon {
  height: 460px;
  overflow: hidden;
}
.frameIcon {
  width: 1015px;
  height: 327px;
}
.contact,
.unipalgmailcom {
  position: absolute;
  top: 22px;
  left: 0;
  letter-spacing: -0.02em;
  line-height: 40px;
}
.contact {
  top: 0;
  font-size: var(--font-size-sm);
  letter-spacing: 0.6em;
  line-height: 14px;
  font-weight: 600;
  color: var(--color-white);
}
.frame5,
.unipalgmailcomParent {
  position: absolute;
  top: 213px;
  left: 0;
  width: 290px;
  height: 62px;
}
.frame5 {
  top: 0;
  height: 275px;
  overflow: hidden;
}
.buttonYourEmailAddress {
  border: 1px solid #ccdcf1;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  background-color: #fff0ce;
  position: absolute;
  top: 130px;
  left: 0;
  border-radius: 4px;
  box-sizing: border-box;
  width: 234px;
  height: 45px;
  padding: 12px 14px;
  color: #000;
}
.stayInformedOn {
  position: absolute;
  top: 46px;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 222px;
}
.stayUpTo {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-mini);
  font-weight: 600;
}
.stayUpToDate {
  position: absolute;
  top: 104px;
  left: 0;
  width: 234px;
  height: 175px;
}
.frame7,
.resources1 {
  position: absolute;
  top: 0;
}
.frame7 {
  left: 469px;
  width: 234px;
  height: 279px;
  overflow: hidden;
}
.resources1 {
  left: 0;
  font-weight: 600;
}
.blogNewsUpdatesContainer {
  position: absolute;
  top: 46px;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 30px;
}
.frame8,
.resources {
  position: absolute;
  top: 104px;
  left: 0;
  width: 100px;
  height: 106px;
}
.frame8 {
  top: 0;
  left: 263px;
  height: 210px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.allRightsReserved {
  position: absolute;
  top: 370px;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 25px;
  font-weight: 500;
  white-space: pre-wrap;
  opacity: 0.7;
}
.frame10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 246px;
  height: 395px;
  overflow: hidden;
}
.frame11,
.navigation {
  position: absolute;
  top: 104px;
  left: 0;
  width: 85px;
  height: 166px;
}
.frame11 {
  top: 0;
  left: 69px;
  height: 270px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.frame9 {
  left: 0;
  width: 246px;
  text-align: center;
  color: var(--color-blanchedalmond);
}
.frame3,
.frame6,
.frame9 {
  position: absolute;
  top: 0;
  height: 395px;
  overflow: hidden;
}
.frame6 {
  left: 457px;
  width: 703px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.frame3 {
  left: 140px;
  width: 1160px;
}
.footer,
.footerEEducaELearningLand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  align-items: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footerEEducaELearningLand {
  top: 760px;
  left: 1px;
  text-align: center;
  font-size: 30px;
  color: var(--color-blanchedalmond);
}
.featuredEducaELearningLand {
  position: absolute;
  top: 4090px;
  left: 0;
  width: 100%;
  height: 760px;
  text-align: center;
  font-size: 100px;
}
.bg5 {
  position: absolute;
  top: 529.8px;
  left: 547px;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
  width: 440px;
  height: 440px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.shpaeIcon {
  width: 548.7px;
  height: 357.5px;
}
.bg6,
.shpaeChild,
.shpaeIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.bg6 {
  border-radius: 4.29px;
  background-color: var(--color-white);
  width: 112.3px;
  height: 85.7px;
}
.shpaeChild {
  background-color: var(--color-aliceblue-200);
  width: 26.6px;
  height: 4.3px;
}
.shpae,
.shpaeItem {
  position: absolute;
  width: 42.9px;
}
.shpaeItem {
  top: 10.2px;
  left: 0;
  background-color: var(--color-aliceblue-200);
  height: 3.4px;
}
.shpae {
  top: 12.9px;
  left: 11.2px;
  height: 13.7px;
}
.card09,
.shpaeIcon1 {
  position: absolute;
  top: 35.6px;
  left: 10.3px;
  width: 91.3px;
  height: 25.7px;
}
.card09 {
  top: 322.4px;
  left: 413.2px;
  width: 112.3px;
  height: 85.7px;
}
.bg7,
.ongoing1 {
  position: absolute;
  top: 0;
}
.bg7 {
  left: 0;
  border-radius: 4.29px;
  background-color: var(--color-white);
  width: 138.9px;
  height: 167.2px;
}
.ongoing1 {
  left: 8.3px;
  line-height: 8px;
  font-weight: 600;
}
.ongoingChild {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  background-color: #f9ad13;
  width: 5.1px;
  height: 5.1px;
}
.ongoing {
  position: absolute;
  top: 141.4px;
  left: 75px;
  width: 44.3px;
  height: 8px;
}
.pending1 {
  position: absolute;
  top: 0;
  left: 8.6px;
  line-height: 8px;
  font-weight: 500;
}
.pendingChild {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  background-color: #fb5850;
  width: 5.1px;
  height: 5.1px;
}
.pending,
.shapeIcon {
  position: absolute;
  top: 141.4px;
  left: 24px;
  width: 42.6px;
  height: 8px;
}
.shapeIcon {
  top: 48.6px;
  left: 32.5px;
  width: 72.9px;
  height: 73.7px;
}
.courseActivity {
  position: absolute;
  top: 15.1px;
  left: 20px;
  font-size: var(--font-size-xs);
  white-space: pre-wrap;
  text-align: center;
}
.card06Icon,
.card07Icon,
.card08 {
  position: absolute;
  top: 322.4px;
  left: 259px;
  width: 138.9px;
  height: 167.2px;
}
.card06Icon,
.card07Icon {
  left: 34.3px;
  width: 211.8px;
  height: 85.7px;
}
.card06Icon {
  top: 163.8px;
  left: 412.4px;
  width: 112.3px;
  height: 145.8px;
}
.bg8 {
  top: 0;
  border-radius: 4.29px;
  background-color: var(--color-white);
  width: 363.5px;
  height: 145.8px;
}
.bg8,
.child,
.div1 {
  position: absolute;
  left: 0;
}
.div1 {
  top: 5px;
  font-weight: 600;
}
.child {
  top: 0;
  background-color: var(--color-gold);
  width: 15.4px;
  height: 2.6px;
}
.div,
.kChild {
  position: absolute;
  top: 96px;
  left: 303.9px;
  width: 31px;
  height: 26px;
}
.kChild {
  top: 0;
  left: 0;
  background-color: var(--color-orangered-100);
  width: 15.4px;
  height: 2.6px;
}
.k,
.shapeIcon1 {
  position: absolute;
  top: 53.1px;
  left: 303.9px;
  width: 38px;
  height: 26px;
}
.shapeIcon1 {
  top: 17.1px;
  left: 20.6px;
  width: 322.8px;
  height: 80.2px;
}
.frameChild,
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 4.3px;
  height: 42.9px;
}
.frameItem {
  top: 6.9px;
  left: 9.4px;
  background-color: var(--color-gold);
  height: 36px;
}
.rectangleParent {
  position: absolute;
  top: 45.5px;
  left: 0;
  width: 13.7px;
  height: 42.9px;
}
.frameInner,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 4.3px;
  height: 70.3px;
}
.rectangleDiv {
  top: 5.1px;
  left: 9.4px;
  background-color: var(--color-gold);
  height: 65.2px;
}
.rectangleGroup {
  position: absolute;
  top: 18px;
  left: 36px;
  width: 13.7px;
  height: 70.3px;
}
.frameChild1,
.frameChild2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 4.3px;
  height: 59.2px;
}
.frameChild2 {
  top: 5.1px;
  left: 9.4px;
  background-color: var(--color-gold);
  height: 54px;
}
.rectangleContainer {
  position: absolute;
  top: 29.2px;
  left: 72.9px;
  width: 13.7px;
  height: 59.2px;
}
.frameChild3,
.frameChild4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 4.3px;
  height: 54px;
}
.frameChild4 {
  top: 5.1px;
  left: 9.4px;
  background-color: var(--color-gold);
  height: 48.9px;
}
.frameDiv {
  position: absolute;
  top: 34.3px;
  left: 109.8px;
  width: 13.7px;
  height: 54px;
}
.frameChild5,
.frameChild6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 4.3px;
  height: 65.2px;
}
.frameChild6 {
  top: 6px;
  left: 9.4px;
  background-color: var(--color-gold);
  height: 59.2px;
}
.rectangleParent1 {
  position: absolute;
  top: 23.2px;
  left: 145.8px;
  width: 13.7px;
  height: 65.2px;
}
.frameChild7,
.frameChild8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 4.3px;
  height: 82.3px;
}
.frameChild8 {
  top: 6px;
  left: 9.4px;
  background-color: var(--color-gold);
  height: 76.3px;
}
.rectangleParent2 {
  position: absolute;
  top: 6px;
  left: 181.8px;
  width: 13.7px;
  height: 82.3px;
}
.frameChild10,
.frameChild9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 4.3px;
  height: 88.3px;
}
.frameChild10 {
  top: 6px;
  left: 9.4px;
  background-color: var(--color-gold);
  height: 82.3px;
}
.card05,
.rectangleParent3,
.shape {
  position: absolute;
  top: 0;
  left: 218.6px;
  width: 13.7px;
  height: 88.3px;
}
.card05,
.shape {
  top: 41.1px;
  left: 28.7px;
  width: 232.3px;
}
.card05 {
  top: 163.8px;
  left: 34.3px;
  width: 363.5px;
  height: 145.8px;
  font-size: var(--font-size-sm-7);
}
.bg9,
.iconChild {
  position: absolute;
  top: 0;
  left: 0;
}
.bg9 {
  box-shadow: var(--card-02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 175px;
  height: 90px;
}
.iconChild {
  border-radius: 50%;
  background-color: var(--color-whitesmoke-100);
  width: 50px;
  height: 50px;
}
.image128Icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.icon {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 50px;
  height: 50px;
}
.happyUsers {
  top: 52px;
  left: 84px;
  line-height: 10px;
  font-weight: 500;
}
.card04,
.happyUsers,
.k2 {
  position: absolute;
}
.k2 {
  top: 28px;
  left: 84px;
  font-size: var(--font-size-xl);
  line-height: 20px;
  color: var(--color-darkslategray-200);
}
.card04 {
  top: 59.8px;
  left: 412px;
  width: 175px;
  height: 90px;
  font-size: var(--font-size-3xs);
  color: var(--color-lightslategray-100);
}
.card01Icon,
.card02Icon,
.card03Icon,
.mockup {
  position: absolute;
  top: 96.9px;
  left: 286.4px;
  width: 111.5px;
  height: 53.2px;
}
.card01Icon,
.card02Icon,
.mockup {
  left: 160.3px;
}
.card01Icon,
.mockup {
  left: 34.3px;
}
.mockup {
  top: 0;
  left: 539px;
  width: 587px;
  height: 529.8px;
}
.stepIntoA {
  position: absolute;
  top: 207px;
  left: 2px;
  letter-spacing: -0.01em;
  line-height: 26px;
  display: inline-block;
  width: 405px;
}
.visualizeYourSuccessContainer {
  position: absolute;
  top: 81px;
  left: 0;
  font-size: var(--font-size-23xl);
  letter-spacing: 0.01em;
  line-height: 52px;
  color: var(--color-darkslategray-200);
}
.icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
}
.frame12,
.stepIntoAWorldOfAcademicParent {
  position: absolute;
  top: 70.8px;
  left: 0;
  width: 524px;
  height: 311px;
}
.frame12 {
  top: 0;
  height: 381.8px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.mockupParent {
  position: absolute;
  top: 76.2px;
  left: 170px;
  width: 1126px;
  height: 529.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.features03,
.features03EducaELearningLa {
  position: absolute;
  left: 0;
  width: 100%;
  height: 691px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.features03 {
  top: 0;
  background-color: var(--color-white);
}
.features03EducaELearningLa {
  top: 3399px;
  color: var(--color-black);
}
.bg10 {
  position: absolute;
  top: 37px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
  width: 516px;
  height: 516px;
}
.bg11,
.buttonGetStartedNowChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
}
.bg11 {
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 329px;
  height: 439px;
}
.buttonGetStartedNowChild {
  box-shadow: 0 24px 30px -16px rgba(255, 91, 7, 0.06);
  background: linear-gradient(90.05deg, #ff6110 26.58%, #ff5600);
  width: 190px;
  height: 62px;
}
.getStartedNow {
  position: absolute;
  top: 24px;
  left: 37px;
  line-height: 14px;
  font-weight: 600;
}
.buttonGetStartedNow {
  position: absolute;
  top: 355px;
  left: 79px;
  width: 190px;
  height: 62px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.full50OnlineContainer {
  position: absolute;
  top: 200.5px;
  left: 38px;
  letter-spacing: 0.02em;
  line-height: 38px;
  display: inline-block;
  width: 265px;
  height: 104px;
}
.b {
  top: 0;
  left: 0;
  line-height: 132.5%;
  white-space: pre-wrap;
}
.b,
.div2,
.div3 {
  position: absolute;
}
.div3 {
  top: 13.5px;
  left: 105px;
  font-size: var(--font-size-5xl-5);
  line-height: 132.5%;
  font-weight: 500;
}
.div2 {
  top: 102px;
  left: 106px;
  width: 137px;
  height: 69px;
  text-align: left;
  font-size: var(--font-size-33xl);
  color: var(--color-darkslategray-200);
}
.yearlyPackage {
  top: 60.5px;
  left: 109px;
  letter-spacing: 0.02em;
  line-height: 16px;
}
.basic,
.card03,
.yearlyPackage {
  position: absolute;
}
.basic {
  top: 34px;
  left: 143px;
  font-size: var(--font-size-xl);
  line-height: 20px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
}
.card03 {
  top: 70px;
  left: 342px;
  width: 329px;
  height: 439px;
}
.bg12,
.buttonGetStartedNowItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.bg12 {
  box-shadow: 0 80px 100px -35px rgba(0, 0, 0, 0.06);
  background-color: var(--color-white);
  width: 371.5px;
  height: 569px;
}
.buttonGetStartedNowItem {
  box-shadow: 0 24px 30px -16px rgba(45, 183, 255, 0.25);
  background: linear-gradient(90.05deg, #45bfff 26.58%, #00a7ff);
  width: 190px;
  height: 62px;
}
.getStartedNow1 {
  position: absolute;
  top: 24px;
  left: 37px;
  line-height: 14px;
  font-weight: 600;
  text-shadow: 1px 0 0#dcdcdc, 0 1px 0#dcdcdc, -1px 0 0#dcdcdc, 0-1px 0#dcdcdc;
}
.buttonGetStartedNow1 {
  position: absolute;
  top: 442px;
  left: 91px;
  width: 190px;
  height: 62px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.premiumService1 {
  margin: 0;
  white-space: pre-wrap;
}
.b1,
.fullyPersonalizedRecommendatContainer {
  text-shadow: 1px 0 0#dcdcdc, 0 1px 0#dcdcdc, -1px 0 0#dcdcdc, 0-1px 0#dcdcdc;
}
.fullyPersonalizedRecommendatContainer {
  position: absolute;
  top: 247px;
  left: 50px;
  letter-spacing: 0.02em;
  line-height: 38px;
  display: inline-block;
  width: 265px;
  height: 141px;
}
.b1 {
  top: 0;
  left: 0;
  line-height: 132.5%;
}
.b1,
.div4,
.div5 {
  position: absolute;
}
.div5 {
  top: 9px;
  left: 105px;
  font-size: var(--font-size-5xl-5);
  line-height: 132.5%;
  font-weight: 500;
  text-shadow: 1px 0 0#dcdcdc, 0 1px 0#dcdcdc, -1px 0 0#dcdcdc, 0-1px 0#dcdcdc;
}
.div4 {
  top: 153px;
  left: 118px;
  width: 137px;
  height: 69px;
  text-align: left;
  font-size: var(--font-size-33xl);
  color: var(--color-darkslategray-200);
}
.yearlyPackage1 {
  top: 107px;
  left: 121px;
  letter-spacing: 0.02em;
  line-height: 16px;
  text-shadow: 1px 0 0#dcdcdc, 0 1px 0#dcdcdc, -1px 0 0#dcdcdc, 0-1px 0#dcdcdc;
}
.basic1,
.card02,
.yearlyPackage1 {
  position: absolute;
}
.basic1 {
  top: 80.5px;
  left: 155px;
  font-size: var(--font-size-xl);
  line-height: 20px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  text-shadow: 1px 0 0#dcdcdc, 0 1px 0#dcdcdc, -1px 0 0#dcdcdc, 0-1px 0#dcdcdc;
}
.card02 {
  top: 0;
  left: 137px;
  width: 371.5px;
  height: 569px;
  color: var(--color-slategray);
}
.bg13,
.iconItem {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.bg13 {
  box-shadow: 0 40px 65px -30px rgba(0, 0, 0, 0.08);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 175px;
  height: 90px;
}
.iconItem {
  border-radius: 50%;
  background-color: var(--color-whitesmoke-100);
  width: 50px;
  height: 50px;
}
.happyUsers1,
.k3 {
  left: 84px;
  text-shadow: 1px 0 0#dcdcdc, 0 1px 0#dcdcdc, -1px 0 0#dcdcdc, 0-1px 0#dcdcdc;
}
.happyUsers1 {
  position: absolute;
  top: 52px;
  line-height: 10px;
  font-weight: 500;
}
.k3 {
  top: 28px;
  font-size: var(--font-size-xl);
  line-height: 20px;
  color: var(--color-darkslategray-200);
}
.card01,
.k3,
.mockpu {
  position: absolute;
}
.card01 {
  top: 254px;
  left: 44px;
  width: 175px;
  height: 90px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-lightslategray-100);
}
.mockpu {
  top: 0;
  left: 0;
  width: 671px;
  height: 569px;
}
.buttonChild,
.buttonItem {
  position: absolute;
  top: 0;
  left: 0;
  height: 96px;
}
.buttonChild {
  border-radius: 25px;
  background-color: var(--color-darkblue);
  width: 365px;
}
.buttonItem {
  width: 184px;
}
.monthly {
  top: 36px;
  left: 63px;
  line-height: 132.5%;
  font-weight: 500;
  display: inline-block;
  width: 96px;
  height: 24px;
}
.button,
.monthly,
.yearly {
  position: absolute;
}
.yearly {
  top: 36px;
  left: 235px;
  line-height: 132.5%;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 89px;
  height: 24px;
}
.button {
  top: 329px;
  left: 0;
  width: 365px;
  height: 96px;
}
.whetherYourePondering {
  position: absolute;
  top: 207px;
  left: 2px;
  font-size: var(--font-size-sm);
  letter-spacing: -0.01em;
  line-height: 26px;
  color: var(--color-slategray);
  display: inline-block;
  width: 418px;
  height: 102px;
}
.buttonParent,
.frame13 {
  position: absolute;
  top: 89px;
  left: 0;
  width: 443px;
  height: 425px;
}
.frame13 {
  top: 0;
  left: 802px;
  height: 514px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkblue);
}
.mockpuParent {
  position: absolute;
  top: 92px;
  left: 89px;
  width: 1245px;
  height: 569px;
}
.features02,
.features02EducaELearningLa {
  position: absolute;
  left: 0;
  width: 100%;
  height: 750px;
}
.features02 {
  top: 0;
  background-color: var(--color-white);
}
.features02EducaELearningLa {
  top: 2649px;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
}
.bg14 {
  top: 0;
  left: 92px;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
  width: 452px;
  height: 452px;
}
.bg14,
.bg15,
.members {
  position: absolute;
}
.bg15 {
  top: 0;
  left: 0;
  box-shadow: 0 30px 50px -20px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  background-color: var(--color-white);
  border: 1.5px solid rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  width: 247px;
  height: 135px;
}
.members {
  top: 13px;
  left: 47px;
  font-weight: 500;
}
.frameChild11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 17px;
  border: 1px solid var(--color-aliceblue-100);
  box-sizing: border-box;
  width: 104px;
  height: 40px;
}
.div7 {
  position: absolute;
  top: 11px;
  left: 23px;
  font-weight: 600;
}
.div6,
.frame14,
.imageIcon {
  position: absolute;
  width: 104px;
  height: 40px;
}
.frame14 {
  top: 0;
  left: 0;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.div6,
.imageIcon {
  top: 75px;
  left: 119px;
}
.imageIcon {
  top: 74px;
  left: 19px;
  width: 93.8px;
  height: 42.7px;
  object-fit: cover;
}
.iconInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: var(--color-aliceblue-300);
  width: 32px;
  height: 32px;
}
.vectorIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 0.3px;
  width: 11.5px;
  height: 10.5px;
}
.icon4 {
  position: absolute;
  top: 16px;
  left: 199px;
  width: 32px;
  height: 32px;
}
.total20Users {
  position: absolute;
  top: 33px;
  left: 16px;
  color: #999798;
}
.ourOnlineRecommender {
  position: absolute;
  top: 15px;
  left: 16px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-black);
  width: 156px;
}
.card02Child,
.card031 {
  position: absolute;
  top: 339px;
  left: 360px;
  width: 247px;
  height: 135px;
}
.card02Child {
  top: 0;
  left: 0;
  box-shadow: 0 25px 60px -15px rgba(0, 0, 0, 0.04);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 152px;
  height: 186px;
}
.frameChild12 {
  position: absolute;
  top: 19px;
  left: 13.5px;
  background-color: var(--color-darkslategray-200);
  width: 9px;
  height: 2px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.ellipseDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #eff7f9;
  width: 30px;
  height: 30px;
}
.frameChild13 {
  position: absolute;
  top: 13.5px;
  left: 10px;
  background-color: var(--color-darkslategray-200);
  width: 9px;
  height: 2px;
}
.frame15,
.rectangleParent4 {
  position: absolute;
  width: 30px;
  height: 30px;
}
.frame15 {
  top: 0;
  left: 0;
  overflow: hidden;
}
.rectangleParent4 {
  top: 146px;
  left: 110px;
}
.discount1 {
  color: #0d0d0d;
}
.discount {
  position: absolute;
  top: 148px;
  left: 12px;
  letter-spacing: -0.01em;
  line-height: 14px;
  font-weight: 600;
}
.shape1 {
  position: absolute;
  top: 137px;
  left: 0;
  border-top: 1px solid #f0f0f0;
  box-sizing: border-box;
  width: 153px;
  height: 1px;
}
.undrawOrderConfirmedReG0ifIcon {
  position: absolute;
  top: 22px;
  left: 12px;
  width: 125px;
  height: 93px;
  overflow: hidden;
}
.card021 {
  top: 297px;
  left: 0;
  width: 152px;
  height: 186px;
  font-size: var(--font-size-3xs);
  color: #fe5701;
}
.bg16,
.card021,
.icon5 {
  position: absolute;
}
.bg16 {
  top: 0;
  left: 0;
  border-radius: 15.61px;
  background-color: var(--color-white);
  width: 137px;
  height: 61px;
}
.icon5 {
  top: 9.9px;
  left: 12.1px;
  width: 39.7px;
  height: 40.4px;
}
.allCourses {
  position: absolute;
  top: 21.1px;
  left: 61.7px;
  font-weight: 500;
}
.card011 {
  position: absolute;
  top: 137px;
  left: 502px;
  width: 137px;
  height: 61px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.mockup1 {
  position: absolute;
  top: 0;
  left: 503px;
  width: 639px;
  height: 483px;
}
.effortlesslyPlanYourContainer,
.providesAComprehensive {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 52px;
}
.providesAComprehensive {
  top: 126px;
  font-size: var(--font-size-sm);
  letter-spacing: -0.01em;
  line-height: 26px;
  color: var(--color-slategray);
  display: inline-block;
  width: 433px;
}
.frame16,
.iconParent {
  position: absolute;
  width: 463px;
}
.frame16 {
  top: 81px;
  left: 2px;
  height: 256px;
  overflow: hidden;
}
.iconParent {
  top: 24px;
  left: 0;
  height: 337px;
  font-size: var(--font-size-23xl);
  color: var(--color-darkslategray-200);
}
.mockupGroup {
  position: absolute;
  top: 530px;
  left: 170px;
  width: 1142px;
  height: 483px;
}
.unipalFeatures {
  position: absolute;
  top: 106px;
  left: 429px;
  font-size: 85px;
  letter-spacing: -0.01em;
  line-height: 90px;
  font-weight: 600;
  color: var(--color-darkslategray-100);
  text-align: center;
  display: inline-block;
  width: 581px;
}
.features01 {
  top: 0;
  background-color: var(--color-white);
  height: 1100px;
}
.bg17,
.features01,
.features01EducaELearningLa {
  position: absolute;
  left: 0;
  width: 100%;
}
.features01EducaELearningLa {
  top: 1549px;
  height: 1100px;
  color: #c9caca;
}
.bg17 {
  top: 550px;
  background-color: var(--color-white);
  height: 550px;
}
.atHand1 {
  top: 35px;
  left: 130px;
  line-height: 28px;
  font-weight: 600;
}
.atHand1,
.fill,
.iconchat {
  position: absolute;
}
.fill {
  top: 0;
  left: 0;
  box-shadow: 0 20px 35px -20px rgba(250, 195, 0, 0.4);
  border-radius: 50%;
  background-color: var(--color-gold);
  width: 100px;
  height: 100px;
}
.iconchat {
  top: 27px;
  left: 27px;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.atHand {
  position: absolute;
  top: 35px;
  left: 860px;
  width: 243px;
  height: 100px;
}
.outline,
.outline1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  border: 2px solid var(--color-aliceblue-100);
  box-sizing: border-box;
  width: 364px;
  height: 163px;
}
.outline1 {
  top: 17px;
  left: 11px;
  width: 342px;
  height: 152px;
}
.bgOutlines {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 169px;
}
.cheaper1 {
  position: absolute;
  top: 70px;
  left: 176px;
  line-height: 28px;
  font-weight: 600;
}
.fill1 {
  position: absolute;
  top: 35px;
  left: 46px;
  box-shadow: 0 30px 35px -20px rgba(250, 84, 0, 0.3);
  border-radius: 50%;
  background-color: var(--color-orangered-100);
  width: 100px;
  height: 100px;
}
.icondecrease {
  position: absolute;
  top: 62px;
  left: 73px;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.cheaper {
  position: absolute;
  top: 0;
  left: 368px;
  width: 364px;
  height: 169px;
}
.faster,
.fill2 {
  position: absolute;
  left: 0;
  height: 100px;
}
.fill2 {
  top: 0;
  box-shadow: 0 20px 35px -20px rgba(0, 192, 225, 0.4);
  border-radius: 50%;
  background-color: #00d9ff;
  width: 100px;
}
.faster {
  top: 35px;
  width: 219px;
}
.atHandParent,
.bgLinesIcon {
  position: absolute;
  top: 287px;
  left: 170px;
  width: 1103px;
  height: 169px;
}
.bgLinesIcon {
  top: 0;
  left: 0;
  width: 160.8px;
  height: 63.7px;
}
.viewAll {
  position: absolute;
  top: 23.5px;
  left: 47.9px;
  line-height: 14px;
  font-weight: 600;
}
.iconarrow {
  position: absolute;
  top: 24.5px;
  left: 101.9px;
  width: 12px;
  height: 12px;
  overflow: hidden;
  object-fit: contain;
}
.buttonViewAll {
  position: absolute;
  top: 104px;
  left: 939px;
  width: 160.8px;
  height: 63.7px;
}
.aboutUs1,
.getStartedWithContainer {
  position: absolute;
  top: 46px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 58px;
}
.aboutUs1 {
  top: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.13em;
  line-height: 160.9%;
  font-weight: 600;
  color: #10adff;
}
.frame17,
.getStartedWithUnipalParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 431px;
  height: 162px;
  font-size: var(--font-size-31xl);
  color: var(--color-darkslategray-200);
}
.frame17 {
  top: 5px;
  left: 170px;
  width: 1099.8px;
  height: 167.7px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-deepskyblue-100);
}
.aboutUs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
}
.aboutUsEducaELearningLand,
.frameIcon1 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.aboutUsEducaELearningLand {
  top: 999px;
  background-color: var(--color-white);
  width: 100%;
  height: 550px;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslategray-200);
}
.frameIcon1 {
  top: 2159px;
  width: 1175px;
  height: 258px;
}
.bg18,
.bg19 {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: var(--color-darkslateblue);
  width: 1390px;
  height: 829px;
}
.bg18 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1000px;
}
.mockupChild {
  position: absolute;
  top: calc(50% - 230.4px);
  left: 261px;
  width: 873.1px;
  height: 412.5px;
  object-fit: cover;
}
.imageChild {
  position: absolute;
  height: 138.8%;
  width: 100.74%;
  top: -34.23%;
  right: -79.04%;
  bottom: -4.58%;
  left: 78.3%;
  border-radius: 1000px;
  background-color: #0061fe;
  transform: rotate(180deg);
  transform-origin: 0 0;
  opacity: 0.06;
}
.groupIcon {
  position: absolute;
  height: 86.23%;
  width: 94.36%;
  top: -31.96%;
  right: 28.09%;
  bottom: 45.73%;
  left: -22.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transform: rotate(-180deg);
}
.image,
.mockup2 {
  position: absolute;
  height: 528.8px;
}
.image {
  top: 0;
  left: 940px;
  width: 940px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.mockup2 {
  top: 549px;
  left: 299px;
  width: 1134.1px;
}
.watchOurPlatformChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 62px;
  cursor: pointer !important; 
}
.watchOurPlatform1 {
  position: absolute;
  top: 20px;
  left: 78px;
  line-height: 14px;
  font-weight: 600;
  cursor: pointer !important; 
}
.buttonGetStartedNowInner,
.watchOurPlatform {
  position: absolute;
  top: 651px;
  left: 384px;
  width: 223px;
  height: 62px;
  cursor: pointer !important;
}

.watchButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer !important;
}

.buttonGetStartedNowInner {
  top: 0;
  left: 0;
  box-shadow: 0 24px 30px -16px rgba(45, 183, 255, 0.25);
  border-radius: var(--br-5xs);
  background: linear-gradient(90.05deg, #45bfff 26.58%, #00a7ff);
  width: 190px;
  cursor: pointer;
}
.getStartedNow2 {
  position: absolute;
  top: 24px;
  left: 37px;
  font-size: var(--font-size-sm);
  line-height: 14px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.buttonGetStartedNow2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 432px;
  left: 2px;
  width: 190px;
  height: 62px;
}
.siteMakesTailored {
  position: absolute;
  top: 350px;
  left: 7px;
  line-height: 26px;
  display: inline-block;
  width: 388px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.discoverLearnSucceedContainer {
  position: absolute;
  top: 66px;
  left: 0;
  font-size: 60px;
  line-height: 90px;
  display: inline-block;
  width: 461px;
}
.courseRecommender {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: var(--font-size-31xl);
  line-height: 50px;
  font-family: var(--font-seaweed-script);
  color: #00acff;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.buttonGetStartedNowParent {
  position: absolute;
  top: 219px;
  left: 170px;
  width: 461px;
  height: 494px;
  font-size: var(--font-size-base);
  color: var(--color-blanchedalmond);
}
.logo,
.text {
  width: 143px;
  height: 27px;
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.logo {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.about1,
.chat1,
.calendar,
.profReview,
.transcripts,
.rateProf,
.profile {
  position: absolute;
  top: 0;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}
.about1 {
  left: 0;
  width: 43.8px;
  cursor: pointer;
}
.chat1,
.calendar,
.profReview,
.transcripts,
.rateProf,
.profile{
  left: 82.5px;

}
.calendar {
  left: 80px;
}
.chat1 {
  left: 180px;
}
.profReview {
  left: 250px;
}
.rateProf {
  left: 400px;
}
.transcripts {
  left: 530px;
}
.profile {
  left: 690px;
}
.menu {
  width: 400px;
  position: absolute;
  height: 21px;
  white-space: nowrap; /* Prevents the text from wrapping */
  max-width: 150px; /* Adjust based on your specific layout needs */
  left: 380px;
}
.underline {
  position: absolute;
  top: 21px;
  left: 100px;
  background-color: var(--color-cornflowerblue);
  width: 45px;
  height: 2px;
}
.logIn {
  position: absolute;
  top: 0;
  left: 100px;
  font-weight: 500;
  display: inline-block;
  width: 47.2px;
}
.buttonLogin {
  width: 47.2px;
  position: relative;
  height: 23px;
  cursor: pointer;
}
.fill3,
.signUp {
  position: absolute;
}
.fill3 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-aliceblue-300);
  width: 135px;
  height: 40px;
  cursor: pointer;
}
.signUp {
  top: 9px;
  left: 40.5px;
  font-weight: 500;
  display: inline-block;
  width: 54px;
}
.buttonSignIn {
  width: 135px;
  position: relative;
  height: 40px;
  cursor: pointer;
  color: var(--color-cornflowerblue);
}
.button1,
.navigationBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  left: 500px;
  position: absolute;
}
.button1 {
  gap: 120px;
  text-align: center;
  left: 1000px;
  padding-top: 1.5%;
}
.navigationBar {
  position: absolute;
  top: 0;
  left: 135px;
  width: 100%;
  gap: 194px;
}
.logoIcon {
  position: absolute;
  top: 0;
  left: 19px;
  width: 65px;
  height: 85px;
  object-fit: cover;
}
.navigationBarParent {
  position: absolute;
  top: 48px;
  left: 45px;
  width: 100%;
  height: 65px;
  color: var(--color-white);
  align-items: center;
  text-overflow: ellipsis;
}
.header {
  position: absolute;
  top: -22px;
  left: -13px;
  width: 100%;
  height: 100%;
}
.headerEducaELearningLandin,
.unipalLandingPage {
  /* background-color: var(--color-white); */
  background-color: var(--color-darkslateblue);
  overflow: hidden; 
  /* width: 100%; */
  width: 100vw; /* 100% of the viewport width */
  padding-left: 40px;
}
.headerEducaELearningLandin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  font-size: var(--font-size-sm);
  color: var(--color-deepskyblue-100);
}
.unipalLandingPage {
  width: 100%;
  position: relative;
  /* border-radius: 60px; */
  height: 5200px;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
