.professorReview {
  position: relative;
  line-height: 68px;
  font-weight: 600;
}
.feelFreeTo {
  width: 511px;
  position: relative;
  font-size: 32px;
  color: var(--color-gray-200);
  display: inline-block;
}
.headlineAndSubhead {
  position: absolute;
  top: calc(50% - 339px);
  left: calc(50% - 654px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.homePage,
.loginPageImg {
  position: absolute;
  overflow: hidden;
}
.loginPageImg {
  height: 50%;
  width: 31.25%;
  top: 44.22%;
  right: 63.19%;
  bottom: 5.78%;
  left: 5.56%;
  max-width: 100%;
  max-height: 100%;
}
.homePage {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 100%;
}
.profReview {
  width: 100%;
  position: relative;
  background-color: var(--white-white-500);
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--white-white-500);
  font-family: var(--font-poppins);
}

.homeButton {
  position: absolute;
  top: 20px;
  left: 19px;
  width: 65px;
  height: 85px;
  object-fit: cover;
}