
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Test+SÃ¶hne:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;

  /* Colors */
  --color-steelblue: #0174be;
  --color-cornflowerblue: #269ce6;
  --color-goldenrod-100: #ffc436;
  --color-goldenrod-200: rgba(255, 196, 54, 0.4);
  --color-goldenrod-300: rgba(255, 196, 54, 0.5);

  /* Paddings */
  --padding-xs: 12px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-5xl: 24px;
}
:root {
  /* fonts */
  --font-outfit: Outfit;
  --font-syne: Syne;
  --font-poppins: Poppins;
  --font-seaweed-script: "Seaweed Script";
  --font-actor: Actor;
  --font-test-shne: "Test Söhne";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-21xl: 40px;
  --font-size-sm: 14px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-23xl: 42px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-5xl-5: 24.5px;
  --font-size-33xl: 52px;
  --font-size-sm-7: 13.7px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-darkslateblue: #0c356a;
  --color-white: #fff;
  --color-dimgray: #676666;
  --color-steelblue: #0174be;
  --color-cornflowerblue: #04a8ff;
  --color-aliceblue-100: #eaf1fb;
  --color-aliceblue-200: #eceff6;
  --color-aliceblue-300: #def4fe;
  --color-black: #000;
  --color-deepskyblue-100: #19b0ff;
  --color-blanchedalmond: #fff0ce;
  --color-darkslategray-100: #2a2e36;
  --color-darkslategray-200: #292e37;
  --color-orangered-100: #ff5600;
  --color-gold: #ffc700;
  --color-slategray: #525d73;
  --color-whitesmoke-100: #f6f6f6;
  --color-gray-100: #1f1f26;
  --color-darkgray-100: #95949a;
  --color-darkblue: #001caf;
  --color-lightslategray-100: #8a93a7;
  --color-gainsboro: #dcdcdc;

  /* Gaps */
  --gap-9xl: 28px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-26xl: 45px;
  --br-3xs: 10px;
  --br-5xs: 8px;
  --br-9xl: 28px;
  --br-7xs: 6px;
  --br-8xs-3: 4.3px;

  /* Effects */
  --card-02: 0px 40px 65px -30px rgba(0, 0, 0, 0.2);

  margin: 0;
  padding: 0;
  width: 100%;
  /* fonts */

  --font-actor: Actor;
  --font-test-shne: "Test SÃ¶hne";

  /* font sizes */

  /* Colors */
  --white-white-500: #fff;

  --violet-violet-300: #777880;

  --violet-violet-200: #a2a2a8;

  --color-silver: #c0c0c4;

  /* Gaps */


  /* Paddings */

  --padding-3xs: 10px;
  --padding-mid: 17px;

  /* Border radiuses */

  --br-base: 16px;
  --br-xs: 12px;

  /* Effects */
  --card-02: 0px 40px 65px -30px rgba(0, 0, 0, 0.2);

}

:root {
  /* fonts */
  --font-outfit: Outfit;
  --font-poppins: Poppins;
  --font-seaweed-script: "Seaweed Script";
  --font-syne: Syne;
  --font-actor: Actor;
  --font-test-shne: "Test Söhne";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-29xl: 48px;
  --font-size-sm: 14px;
  --font-size-21xl: 40px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-23xl: 42px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-5xl-5: 24.5px;
  --font-size-33xl: 52px;
  --font-size-sm-7: 13.7px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;

  /* Colors */
  --white-white-500: #fff;
  --color-darkslateblue: #0c356a;
  --color-navajowhite: #ffde99;
  --violet-violet-300: #777880;
  --color-gray-100: #1f1f26;
  --color-gray-300: #111;
  --color-gray-200: rgba(255, 255, 255, 0.8);
  --color-gray-400: rgba(0, 0, 0, 0.5);
  --color-steelblue: #0174be;
  --color-cornflowerblue: #04a8ff;
  --color-aliceblue-100: #eaf1fb;
  --color-aliceblue-200: #eceff6;
  --color-aliceblue-300: #def4fe;
  --color-black: #000;
  --color-deepskyblue-100: #19b0ff;
  --color-blanchedalmond: #fff0ce;
  --color-darkslategray-300: #333;
  --color-darkslategray-100: #2a2e36;
  --color-darkslategray-200: #292e37;
  --color-orangered-100: #ff5600;
  --color-gold: #ffc700;
  --color-slategray: #525d73;
  --color-whitesmoke-100: #f6f6f6;
  --violet-violet-200: #a2a2a8;
  --color-darkgray-100: #95949a;
  --color-darkblue: #001caf;
  --color-lightslategray-100: #8a93a7;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro: #dcdcdc;
  --color-dimgray: #676666;
  --color-silver: #c0c0c4;
  --color-sandybrown: #ffb859;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-29xl: 48px;
  --gap-9xs: 4px;
  --gap-9xl: 28px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-3xs: 10px;
  --padding-11xs: 2px;
  --padding-mid: 17px;
  --padding-8xl: 27px;
  --padding-16xl: 35px;
  --padding-xl: 20px;
  --padding-9xl: 28px;
  --padding-6xs: 7px;
  --padding-9xs-1: 3.1px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-3xs: 10px;
  --br-5xs: 8px;
  --br-9xl: 28px;
  --br-base: 16px;
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-8xs-3: 4.3px;
  --br-9xs: 4px;
  --br-26xl: 45px;
  --br-xl: 20px;

  /* Effects */
  --card-02: 0px 40px 65px -30px rgba(0, 0, 0, 0.2);
}

